<footer>
        <div class="container">
            <div class="row g-4">
                <div class="col-md-3">
                    <a href="#" class="navbar-brand mb-3 d-block">ebook</a>
                    <p class="text-muted small">&copy; 2024 ebook Inc. Все права защищены.</p>
                </div>
                <div class="col-6 col-md-3">
                    <h6 class="footer-heading">О ebook</h6>
                    <a href="#" class="footer-link">О нас</a>
                    <a href="#" class="footer-link">Карьера</a>
                    <a href="#" class="footer-link">Пресса</a>
                    <a href="#" class="footer-link">Контакты</a>
                </div>
                <div class="col-6 col-md-3">
                    <h6 class="footer-heading">Пользователям</h6>
                    <a href="#" class="footer-link">Блог</a>
                    <a href="#" class="footer-link">Помощь</a>
                    <a href="#" class="footer-link">Конфиденциальность</a>
                    <a href="#" class="footer-link">Условия использования</a>
                </div>
                <div class="col-6 col-md-3">
                    <h6 class="footer-heading">Бизнесу</h6>
                    <a href="#" class="footer-link">Booksy для бизнеса</a>
                    <a href="#" class="footer-link">Тарифы</a>
                    <a href="#" class="footer-link">Истории успеха</a>
                </div>
            </div>
        </div>
    </footer>