  <nav class="navbar navbar-expand-lg navbar-light bg-olive">
    <div class="container-fluid">
      <a class="navbar-brand fw-semibold" href="des2.html">
        <span class="brand-mark">e</span> eBook
      </a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mt-2 mt-lg-0" id="mainNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small">
          <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'accounts:register' %}">Register</a></li>
          <li class="nav-item"><a class="nav-link" href="des2.html">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" href="des2.html">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" href="des2.html#bookingsSection">Bookings</a></li>
          <li class="nav-item"><a class="nav-link" href="profile_page.html">Profile</a></li>
          <li class="nav-item"><a class="nav-link active" href="confirmed_service.html">Client view</a></li>
        </ul>
      </div>
    </div>
  </nav>

